<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('partials/head.ejs') %>
</head>
<body>
	<div class="container p-4">
		<div class="row">
			<div class="col-md-4">
				<%- include('partials/panel.ejs') %>
			</div>

			<div class="col-md-8">
				<div class="row">
					<% images.forEach(function(image) { %>
					<div class="col-md-6">
							<img src="<%= image.url %>" alt="Image" class="img-fluid" >
					</div>
					<% }) %>
				</div>
			</div>
		</div>
	</div>
</body>
</html>