<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('partials/head.ejs') %>
</head>
<body>
	<div class="container p-4">
		<div class="row">
			<div class="col-md-4">
				<%- include('partials/panel.ejs') %>
			</div>

			<div class="col-md-4">
				<div class="card car-body p-4">
					<h3>Cargar imagen</h3>
					<form action="/upload" method="POST" enctype="multipart/form-data">
						<div class="form-group">
							<label for="file">Elija una imagen</label>
							<input id="file" class="form-control" type="file" name="upload" >
						</div>
						<button class="btn btn-primary btn-block" type="submit">
							Cargar
						</button>
					</form>
				</div>
			</div>
			
			<div class="col-md-4">
				<img id="imgPreview" class="img-fluid">
			</div>
		</div>
	</div>
	<script>
		const file = document.getElementById('file');
		const imgPreview = document.getElementById('imgPreview');

		file.addEventListener('change', (e) => {
			const selectedFile = e.target.files[0];
			const reader = new FileReader();

			reader.onloadend = (e) => {
				imgPreview.src = reader.result;
			}

			reader.readAsDataURL(selectedFile)
		})
	</script>
</body>
</html>